.container {
    width: 200px;
    height: 200px;
    background-color:lightgray;
    margin-left: 100px;
    border: 1px solid;
}

.backIcon {
  height: 15px;
  width: 15px;
}

.backIcon:hover {
  cursor: pointer;
}


.container .content {
  color: white;
  width: 100%;
  height: 100%;
  background-color: lightgray;

}



.container .nextTab { 
  animation: fadeOut 0.3s;
}

.container .prevTab {
animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    transform: translate(0px);
    border: 0.5px solid;
  }
  100% {
    opacity: 0;
    transform: translate(-50px);
  }
  
}


@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(0px);
    
  }
  100% {
    opacity: 0;
    transform: translate(50px);
  }
}
